body{
    background-color: black;
    display: flex;  
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

button{
    --glow-color: rgb(81, 217, 171);
    --glow-spread-colour: rgba(34, 189, 171, 0.964);
    --enhanced-glow-color: rgb(146, 234, 154);
    --btn-color: rgb(199, 240, 130);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    width: 240px;
    height: 69px;
    display: flex;
    justify-content: center;  
    align-items: center;
    color: var(--glow-color);
    font-size: 28px;
    font-family: fantasy;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
                         0 0 4em 1em var(--glow-spread-colour),
                inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-colour);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

button:hover{
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
                         0 0 4em 2em var(--glow-spread-colour),
                inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active{
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
                         0 0 2.5em 2em var(--glow-spread-colour),
                inset 0 0 0.5em 0.25em var(--glow-color);
}


/*box-shadow Syntax*/
/*box-shadow: [horizontal] [vertical] [blur] [spread] [color]; */
